<div class="container my-5">
    <div class="card">
        <div class="card-header">
            <h4 class="text-center">La liste des categorie</h4>
            <div *ngIf="message" class="alert alert-success" role="alert">
                Vous avez supprimer une categorie avec success. <span class="btn" (click)="removeMessage()"><i class="bi bi-x-circle"></i></span>
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Libelle</th>
                        <th>Description</th>
                        <th colspan="3">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let categorie of categorie">
                        <td>{{categorie.id}}</td>
                        <td>{{categorie.libelle}}</td>
                        <td>{{categorie.descrition}}</td>
                        <td class="btn button-style text-primary" routerLink="/edit-categore/{{categorie.id}}">
                            <i class="bi bi-pencil-square"></i>
                        </td>
                        <td class="btn button-style text-info" routerLink="/detail-categorie/{{categorie.id}}">
                            <i class="bi bi-eye-fill"></i>
                        </td>
                        <td class="btn button-style text-danger" (click)="deleteCategorie(categorie.id)">
                            <i class="bi bi-trash3-fill"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>