<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h4 class="text-center">Formulaire d’ajout des categorie</h4>
            <div *ngIf="message" class="alert alert-success" role="alert">
                <p class="text-center">
                    Vous avez ajouter une categorie avec success. 
                    <span class="btn" (click)="removeMessage()">
                        <i class="bi bi-x-circle"></i>
                    </span>
                </p>
            </div>
        </div>
        <div class="card-body">
            <div class="text-center" *ngIf="errorMessage">
                <p class="text-danger">{{errorMessage}}</p>
            </div>
            <div class="formulaire-section">
                <div class="col-md-8 col-sm-12">
                    <img src="../assets/images/relax.png" class="img-fluid"/>
                </div>
                <div class="col-md-4 col-sm-12 mb-3">
                    <form [formGroup]="addCategorie" (ngSubmit)="saveCategorie()">
                      <div class="mb-3">
                        <label for="nomProduit" class="form-label">Libelle du categorie</label>
                        <input type="text" class="form-control" formControlName="libelle" id="nomProduit">
                        <div *ngIf="controleChamps['libelle'].touched && controleChamps['libelle'].invalid">
                            <p *ngIf="controleChamps['libelle'].errors" class="text-danger">
                                <!-- && controleChamps['libelle'].errors['required'] -->
                                le libelle de la categorie est obligatoire
                            </p>
                        </div>
                      </div>
                      <div class="mb-3">
                        <label for="descriptionProduit" class="form-label">Description du categorie</label>
                        <textarea class="form-control" id="descriptionProduit" formControlName="descrition" style="height: 100px"></textarea>
                        <div *ngIf="controleChamps['descrition'].touched && controleChamps['descrition'].invalid">
                            <p *ngIf="controleChamps['descrition'].errors" class="text-danger">
                                <!-- && controleChamps['libelle'].errors['required'] -->
                                La description de la categorie est obligatoire
                            </p>
                        </div>
                      </div>
                      <button type="submit" [disabled]="addCategorie.invalid" class="btn btn-info text-color my-3">Enregistrer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>  
</div>
