<div class="container-fluid accueil-section">
    <div class="row">
        <div class="col-md-7 col-sm-12">
            <div class="column">
                <h1>DIEUNDE ak DJAY<br>
                    MEUSSOUL YOMBE NII
                </h1>
                <p>Faites votre annonce et partagez à vos clients !</p>
                <button routerLink="/produit-forme" class="button-annonce mt-4">Publiez vos annonces</button>
            </div>
        </div>
        <div class="col-md-5 col-sm-12">
            <img src="../../../assets/images/imgHome.png" class="img-fluid">
        </div>
    </div>
</div>
